In [ ]:
# Luqi

In [8]:
# saccade velocity

import pandas as pd
data = pd.read_csv('data/velocity.csv')

data.describe()

             luqi
count  100.000000
mean   132.418131
std     98.724012
min      9.126692
25%     54.515351
50%    112.627803
75%    181.049308
max    529.090371

In [20]:
lq_1229 = pd.read_csv('data/luqi-1229.csv')
lq_1229.describe()

         velocity
count   80.000000
mean   156.011174
std    143.556996
min     14.304080
25%     53.624248
50%    101.687239
75%    195.923136
max    809.117674

In [10]:
qxy_1253 = pd.read_csv('data/qxy-1253.csv')
qxy_1253.describe()

         velocity
count   62.000000
mean    92.443037
std    111.848512
min      1.240749
25%     25.133194
50%     51.772039
75%    102.681057
max    545.572671

In [11]:
qxy_1281 = pd.read_csv('data/qxy-1281.csv')
qxy_1281.describe()

         velocity
count   70.000000
mean   121.759297
std    144.968304
min      4.652508
25%     28.987429
50%     53.411252
75%    195.011125
max    825.840478

In [15]:
qxy_1283 = pd.read_csv('data/qxy-1283.csv')
qxy_1283.describe()

         velocity
count   77.000000
mean   100.740872
std    119.906074
min      9.382170
25%     29.445872
50%     49.198246
75%     97.700632
max    579.545251

In [14]:
qxy_1285 = pd.read_csv('data/qxy-1285.csv')
qxy_1285.describe()

         velocity
count   67.000000
mean   108.013714
std    121.932290
min      3.305896
25%     27.401651
50%     51.056742
75%    134.881327
max    431.509412

In [16]:
pwt_1243 = pd.read_csv('data/pwt-1243.csv')
pwt_1243.describe()

         velocity
count   41.000000
mean    53.182947
std     63.870668
min      0.779977
25%      8.783653
50%     20.028298
75%     70.653864
max    207.597594

In [17]:
pwt_1245 = pd.read_csv('data/pwt-1245.csv')
pwt_1245.describe()

         velocity
count   63.000000
mean    88.355223
std    116.853911
min      5.000487
25%     17.504209
50%     45.747401
75%    103.410702
max    648.949950

In [18]:
pwt_1288 = pd.read_csv('data/pwt-1288.csv')
pwt_1288.describe()

         velocity
count   91.000000
mean   141.641239
std    119.442314
min      7.862293
25%     54.695675
50%    102.928570
75%    196.672119
max    639.694469

In [22]:
luzhouyang_1319 = pd.read_csv('data/luzhouyang-1319.csv')
luzhouyang_1319.describe()

         velocity
count   77.000000
mean    97.319989
std     91.198542
min      3.143014
25%     25.338562
50%     80.228601
75%    135.311930
max    443.006002